* {
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {color: red;
}

h2 {color: black;
}

h3{color: coral;
}

p {font-family: sans-serif;
}

blockquote li{background-color: black;
}